@{
    ViewData["Title"] = "Juego";
}

<div>
    <div class="d-flex justify-content-between">
        <div><strong>Usuario:</strong> @ViewBag.Username</div>
        <div><strong>Puntaje:</strong> @ViewBag.PuntajeActual / @ViewBag.Pregutashechas</div>
    </div>
    <hr />

    <h4>Pregunta @ViewBag.ContadorNroPreguntaActual / @ViewBag.PreguntasTotales</h4>
    <p>@ViewBag.Pregunta.Enunciado</p>

    <form method="post" action="/Home/VerificarRespuesta">
        <input type="hidden" name="idPregunta" value="@ViewBag.Pregunta.IdPregunta" />

        <div class="list-group">
            @foreach (Respuestas resp in ViewBag.Respuestas)
            {
                <button type="submit" name="idRespuesta" value="@resp.IdRespuesta" class="list-group-item list-group-item-action">
                    @resp.Contenido
                </button>
            }
        </div>
    </form>
</div>
